*,
*::after,
*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

#app{
    min-height: 100vh;
    /* background-color: rgb(236, 232, 232); */
    background-color: rgb(210, 200, 243);
}

::-webkit-scrollbar{
    width: 11px;
    background-color: #e9e5e6;
}

::-webkit-scrollbar-thumb{
  background-color: rgb(98, 181, 236);
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover{
  background-color: rgb(31, 77, 107);
}

.to-do-box{
    width: 500px;
    position: relative;
    min-height: 400px;
    top: 75px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 8px 5px 5px #c4c4c4;
    border: 1px solid #c4c4c4;  
}

.to-do-box__header{
    position: absolute;
    width: 100.06%;
    height: 50px;
    background-color: rgb(98, 181, 236);
    border-radius: 10px 10px 0 0; 
}

.header__title{
    text-align: center;
}

.header__content{
    overflow: auto;
    height: 270px;
}

/* ListItem-style--start */

.todo__list-item{
    width: 400px;
    display: flex;
    justify-content: space-between;
    border: 1px solid #c4c4c4;
    /* background-color: rgb(98, 181, 236); */
    background-color: rgb(170, 210, 236);
    padding: 8px 8px 7px 8px;
    border-radius: 10px;
    margin: 10px auto;
}

.todo__list-item-check{
    cursor: pointer;
    width: 26px;
    height: 26px;
    background-image: url('./images/circle.svg');
}

.todo__list-item-check--done{
    cursor: pointer;
    width: 26px;
    height: 26px;
    background-image: url('./images/circle-done.svg');
}

.todo__list-item--done{
    background-color: rgb(31, 77, 107);
    color: #fff;
    text-decoration: line-through;
}

.todo__list-item-remove{
    cursor: pointer;
    width: 26px;
    height: 26px;
    background-image: url('./images/circle-remove.svg');
}

.todo__list-item-remove--done{
    cursor: pointer;
    width: 26px;
    height: 26px;
    background-image: url('./images/circle-remove--done.svg');
}

/* ListItem-style--end */


/* TaskField-style--start */

.todo__add-field{
    width: 100%;
    position: relative;
    margin: 2px 0 10px 0;
    border: 1px solid #c4c4c4;
    border-radius: 0 0 10px 10px;
}

.add-field__input{
    width: 450px;
    font-size: 25px;
    margin: 2px 2px 2px 2px;
    padding: 2px 10px 5px 10px;
    border: none;
    border-right: 1px solid #c4c4c4;
}

.add-field__btn{
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: inherit;
    border: none;
    cursor: pointer;
    top: 11px;
    right: 9px;
}

/* TaskField-style--end */